.header {
    height: 48vmin;
    pointer-events: none;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    border-radius: 19;
    margin: 1;
}

main {
    padding: 55px;
}

.header {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 85px;
    background: linear-gradient(90deg, #072ba2 12.18%, #26d37c 100%);
    color: rgb(137, 13=00, 40);
    padding: 20px;
}

.header--image {
    height: 100%;
    margin-right: 5px;
}

.header--title {
    font-size: 1.50rem;
    margin-right: auto;
}

.header--project {
    font-size: 0.95rem;
    font-weight: 500;
}

.form {
    display: grid;
    grid-template: 40px 40px/1fr 1fr;
    gap: 17px;
}

.form--intput {
    font-family: "Karla", sans-serif;
    border-radius: 9px;
    border: 2px solid #afa9bd;
    text-indent: 10px;
}

.form--button {
    grid-column: 1/ -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.46deg, #711F8D 1.14%, #6d5675 100%);
    color: white;
    border: none;
    cursor: pointer;
}